.cart {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  margin: 14rem 0;
  align-items: center;
}

.cart h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.cart p {
  font-size: 1.87rem;
  color: var(--primary-contrast-dark);
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 5rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--gray-100);
  color: var(--primary-contrast-dark);
}

.cartItem img {
  width: 11.3rem;
  height: auto;
}

.cartItem h3 {
  font-size: 2rem;
  flex-grow: 1;
}

.cartItem p {
  font-size: 1.82rem;
}

.cartItem button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: var(--gray-300);
  color: #111;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cartItem button:hover {
  background-color: var(--primary-dark);
}

.cartItem button:disabled {
  background-color: var(--primary-light);
  cursor: not-allowed;
}

.quantityControls {
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.quantityControls span {
  font-size: 2rem;
  margin: 0 2rem;
}
.removeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-dark);
  font-size: 2.5rem;
  margin-left: 2rem;
}