.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.22rem;
  height: 11.90rem;
  padding: 6rem;
  background-color: var(--primary-dark);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container h1 {
  font-size: 4.50rem;
  font-weight: bolder;
}

.containerImg img {
  height: auto;
  width: 100%;
  max-width: 20rem;
}

.cartInfo {
  border-radius: 1.50rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  padding: 1.50rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--primary);
}

