.container {
  background: var(--primary);
  color: var(--primary-dark);
  padding: 3rem;
  border-radius: 1rem;
  max-width: 35rem;
  margin: 10rem auto;
  box-shadow: 0 0 1rem var(--primary-dark);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-dark);
  font-size: 1.2rem;
}
button {
  background: var(--primary-dark);
  color: var(--primary-dark);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bold;
}