.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 15rem 0;
  gap: 2rem;
}

.productList {
  padding: 1rem 2rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1.50fr));
  grid-template-rows: repeat(auto-fit, min-content);
}